@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$primary-color:#333;
$secondary-color:#777;
$accent-color: #ff4228;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: $primary-color;
}

h1 {
  padding: 0;
  font-size: 5rem;
  font-weight: inherit;
  color: #fff;
  margin: 0 2rem;
  transition: .5s;
  white-space: nowrap;
}

p {
  color: #fff;
  line-height: 1.5;
}

h3 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px #222;
  
  header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: linear-gradient($primary-color, $secondary-color);

    img {
        width: 150px;
        -webkit-clip-path: circle();
        clip-path: circle();
        filter: grayscale(70%);
        transition: .7s;
    }
  }
  main {
    display: flex;
    justify-content: center;
    background: linear-gradient($secondary-color, $primary-color);
    padding: 50px;
    padding-top: 0;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
          font-size: 2rem;
          color: #fff;
          font-weight: 300;
          padding: 10px 0;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-color;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 10px 0;

    a {
      text-decoration: none;
      color: #fff;
      padding: 0 10px;
      transition: .8s;

      &:hover {
          color: $accent-color;
      }
    }
  }
}

ol {
  padding-left: 1em;

  li {
    color: #fff;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
  background: $primary-color;
  border-top: 1px solid $accent-color;
}

.copy-right {
  text-align: center;
  grid-column: 2/3;
}

.social-icons {
  text-align: center;
  grid-column: 3/4;

  a {
    color: #fff;
    text-decoration: none;
    transition: .8s;

    &:hover {
      color: $accent-color;
    }
  }
}

i {
  padding: 0 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: inherit;
  transition: .5s;
}

.sticky + main {
  padding-top: 60px;
}

.active {
  box-shadow: 0 3px 3px -2px $accent-color;
}

@media (max-width: 1034px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 3rem;
  }

  .container header img {
    width: 100px;
  }

  .container {
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  .container header img {
    width: 80px;
  }

  .container {
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
}