<h2 class="display-4 text-center">{{ header }}</h2>
<p>Dette er et forsøk på å skape min egen hjemmeside.</p>
<p>Formålet med siden er:</p>
<ol> 
  <li>Jeg vil lære mest mulig om moderne webdesign og webutvikling, og</li> 
  <li>Jeg vil ha en side der jeg kan presentere meg selv for potensielle oppdrags-/arbeidsgivere.</li>
</ol>
<p>Jeg har forsøkt mange ganger før med forskjellige løsninger, men har ikke kommet meg helt i mål. MEN, under denne prosessen har jeg lært masse!! Jeg har vært mer eller mindre innom: HTML, CSS, JS, Bootstrap, Python, Sass, gulp, Angular, git, PHP, nodejs, jquery, server-adminstrasjon, CLI, Flask, Django, mongoDB, SQL, Sketch, Swift, C++, C#, Java, VBA, Photoshop, Visual Studio +++</p>
<p>Tanken var først å lage en helt enkel statisk side med HTML og CSS, men jeg fant fort ut at det ble for lett og kjedelig. Jeg ønsket å gjøre den mer dynamisk! Jeg endte opp med denne løsningen; utviklet i Angular og hostet hos DigitalOcean.</p> 
<p>Den er langt fra ferdig, men jeg tror at jeg denne gangen har et mer robust grunnlag.</p>
<p>Målet er at den skal være bygget opp rundt prinsippet RESTful api. Jeg ønsker også å utvikle siden slik at den får et sikkert innloggingssystem for å kunne administrere siden via web-grensesnittet.</p>
