<h2 class="display-4 text-center">{{ header }}</h2>
<p>Dette er et forsøk på å skape min egen hjemmeside.</p>
<p class="lead">Formålet med siden er:</p>
<ol> 
  <li>Jeg vil lære mest mulig om moderne webdesign og webutvikling, og</li> 
  <li>Jeg vil ha en side der jeg kan presentere meg selv for potensielle oppdrags-/arbeidsgivere.</li>
</ol>
<p>Jeg har forsøkt mange ganger før med forskjellige løsninger, men har ikke kommet meg helt i mål. MEN, under denne prosessen har jeg lært masse!!</p> 
<p class="lead">Jeg har vært mer eller mindre innom:</p>
<ul class="list-group">
  <li class="list-group-item list-group-item-info">HTML</li>
  <li class="list-group-item list-group-item-info">CSS</li>
  <li class="list-group-item list-group-item-info">Vanilla Javascript</li>
  <li class="list-group-item list-group-item-info">Bootstrap</li>
  <li class="list-group-item list-group-item-info">Python 3</li>
  <li class="list-group-item list-group-item-info">Sass</li>
  <li class="list-group-item list-group-item-info">Angular</li>
  <li class="list-group-item list-group-item-info">git</li>
  <li class="list-group-item list-group-item-info">PHP</li>
  <li class="list-group-item list-group-item-info">nodejs</li>
  <li class="list-group-item list-group-item-info">jquery</li>
  <li class="list-group-item list-group-item-info">Server-administrasjon (Appache/NGINX)</li>
  <li class="list-group-item list-group-item-info">CLI</li>
  <li class="list-group-item list-group-item-info">Flask</li>
  <li class="list-group-item list-group-item-info">Django</li>
  <li class="list-group-item list-group-item-info">mongoDB</li>
  <li class="list-group-item list-group-item-info">SQL</li>
  <li class="list-group-item list-group-item-info">Sketch</li>
  <li class="list-group-item list-group-item-info">Swift</li>
  <li class="list-group-item list-group-item-info">C++</li>
  <li class="list-group-item list-group-item-info">C#</li>
  <li class="list-group-item list-group-item-info">Java</li>
  <li class="list-group-item list-group-item-info">VBA</li>
  <li class="list-group-item list-group-item-info">Photoshop</li>
  <li class="list-group-item list-group-item-info">Visual Studio</li>
  <li class="list-group-item list-group-item-info">+++</li>
</ul>
<br>
<p>Tanken var først å lage en helt enkel statisk side med HTML og CSS, men jeg fant fort ut at det ble for lett og kjedelig. Jeg ønsket å gjøre den mer dynamisk! Jeg endte opp med denne løsningen; utviklet i Angular og hostet hos DigitalOcean.</p> 
<p>Den er langt fra ferdig, men jeg tror at jeg denne gangen har et mer robust grunnlag.</p>
<p>Målet er at den skal være bygget opp rundt prinsippet RESTful api. Jeg ønsker også å utvikle siden slik at den får et sikkert innloggingssystem for å kunne administrere siden via web-grensesnittet.</p>
